/* src/styles/globals.css */
/* @import "tailwindcss/preflight"
@tailwind utilities; */

@import "tailwindcss";


/* Your custom theme tokens live here */
@theme {
    /* fonts */
    --font-play:    "Playfair Display", serif;
    --font-inter:   "Inter", sans-serif;
    --font-space:   "Space Grotesk", sans-serif;

    /* breakpoints */
    --breakpoint-xs:   370px;
    --breakpoint-sm:   640px;
    --breakpoint-md:   768px;
    --breakpoint-lg:  1024px;
    --breakpoint-xl:  1280px;
    --breakpoint-2xl: 1440px;

    /* Colors */
    --color-white:       #FFFFFF;
    --color-black:       #000000;
    --color-gold:        #b6995a;
    --color-satin:       #cba135;
    --color-copper:      #a1783f;
    --color-tan:         #c9ab83;
    --color-tan-light:   #f5efe6;
    --color-light-grey:  #7e7e7e;
    --color-grey:        #4b4b4b;
    --color-dark-grey:   #141615;
    --color-hunter:      #37654b;
    --color-forest:      #1c3a2c;

    /* Optional base colors */
    --color-primary:     var(--color-dark-grey);
    --color-background:  var(--color-tan-light);
    --color-accent:      var(--color-gold);

    /* easings */
    --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
    --ease-fluid:  cubic-bezier(0.3, 0, 0, 1);
}

html {
   @apply bg-background text-primary font-play scroll-smooth;
}

.text-shadow-sm {
   text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.4);
}
/* Now you can use your tokens in classes: 
   <div class="text-primary font-inter md:text-xl lg:text-2xl">…</div> */

/* Now you can use your tokens in classes: 
   <div class="text-primary font-inter md:text-xl lg:text-2xl">…</div> */
